<!-- -->
<launch>
    <arg name="host_pc_port" value="/dev/host_pc"/>
    <arg name="gps_port" value="/dev/gps"/>
    <arg name="steering_port" value="/dev/steer_motor"/>
    <arg name="utm_topic" value="/gps_odom"/>
    <arg name="cmd_topic" value="/tractor_cmd"/>
    
    <!-- interface -->
	<node name="interface_node" pkg="interface" type="interface_node" output="screen" respawn="true">
	    <param name="utm_topic" value="$(arg utm_topic)"/>
		<param name="can2serial_port" value="$(arg host_pc_port)"/>
		<param name="can_baudrate" value="250"/>
		<param name="gps_topic" value="/gps" />
	</node>
	
	<!-- auto_drive -->
	<node name="auto_drive_node" pkg="auto_drive" type="auto_drive_node" output="screen" respawn="true">
	    <param name="utm_topic" value="$(arg utm_topic)"/>  
		<param name="path_file_dir" value="$(find auto_drive)/data/"/>
		<param name="foreSightDis_speedCoefficient" value="1.8"/>
		<param name="min_foresight_distance" value="4.0"/>
		<param name="wheel_base" value="2.0"/>
		<param name="cmd_topic" value="$(arg cmd_topic)"/>
		<param name="ignore_gps_offline" value="false"/>
	</node>
	
	<!-- gps -->
	<node name="nuogeng_node" pkg="nuogeng" type="nuogeng_node" output="screen" respawn="true">
		<param name="port_name" value="$(arg gps_port)"/>
		<param name="odom_topic" value="$(arg utm_topic)"/>
		<param name="parent_frame_id" value="world"/>
		<param name="child_frame_id" value="gps"/>
		<param name="pub_odom" value="true"/>
		<param name="pub_tf" value="false"/>
	</node>

	<!-- node name="base_gps_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link gps 50"/-->
	
	<!--base_control-->
	<node name="base_control_node" pkg="base_control" type="base_control_node" output="screen" respawn="true">
		<param name="steering_port" value="$(arg steering_port)"/>
		<param name="road_wheel_angle_resolution" value="0.04"/> <!--1 adc 对应的角度值 -->
		
		<param name="road_wheel_angle_offset" value="-82"/>
		<param name="max_road_wheel_angle" value="35.0"/>
		<param name="min_steer_rotate_speed" value="10"/>
		<param name="max_steer_rotate_speed" value="80"/>
		
		<param name="cmd_topic" value="$(arg cmd_topic)"/>
		<param name="ignore_steer_error" value="true"/>
		<param name="ignore_braker_error" value="true"/>
		
		<!--remap from="/brake_cmd" to="/temp_debug_topic"/-->
	</node>
	
	<node name="arduino_brake_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0"  output="screen" respawn="true">
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find auto_drive)/rviz/auto_drive.rviz"/>
	
</launch>
