<!-- -->
<launch>
	<node name="base_control_node" pkg="base_control" type="base_control_node" required="true" output="screen">
		<param name="steering_port" value="/dev/steer_motor"/>
		<param name="road_wheel_angle_offset" value="-84"/>
		<!-- road_wheel_angle_resolution: the roadWheelAngle per adc value -->
		<param name="road_wheel_angle_resolution" value="0.04"/>
		<param name="cmd_topic" value="/tractor_cmd"/>
		
	</node>
	
	<node name="arduino_brake_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0"  output="screen">
	</node>


</launch>
